@charset "utf-8";
/* CSS Document */

@media print{
  @page {
	
  }
  
  .page-break{
		display:block;
		page-break-before:always;  
  }
    
  .content table td,.content table th,.header td,body *{
	font-size:14px;
  }
  
   #head_logo{
		width:40px;
		height:40px;   
   }
   
}
	
body
{
	size: legal portrait;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

.container{
	width:100%;
}

.header
{
	text-align:center;	
}

.header table, table.content
{
	width:100%;
	text-align:left;
	

}
table.content{
	border-collapse:collapse;
}

table.content th{
	border:1px solid #000;	
}

table.content td{
	border-left:1px solid #000;
	border-right:1px solid #000;	
}

hr
{
	margin:10px 0px;	
	border:1px dashed #999;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.footer td{
	border:none;
}

.align-right{
	text-align:right;	
}

.inline{
	display:inline-block;	
}

.content table.summary td{
	border:none;
}



.line_bottom {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	width:120px;
}
